body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  position: relative;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  margin: 0 0;
  padding: 0 0;
}

.title{
  background-color: #777;
}

.stage {
  margin: 0 0;
  height:100%;
  width:100%;
  background-image: url("/Users/chu/Desktop/hrsf96-subclass-dance-party/images/stage.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;

}

.dancer{
  border:10px solid yellow;
  border-radius:10px;
  position:absolute;
}

.blinky {
  display:inline-block;
  position:absolute;
}

.blinkyMinion {
  height: 100px;
  width: 80px;
  position:absolute;
  animation-name: blinkyDancer;
  animation-duration:2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;

}

/* ===== Animation Effect ========== */

@keyframes blinkyDancer {
  0%{transform:rotate(0deg); transform-origin:center;}
 50%{transform:rotate(-20deg); transform-origin:center;}
 100%{transform:rotate(20deg); transform-origin:center;}
}
