body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#000000;
  font-size: 18px;
  position: relative;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  letter-spacing: 2px;
  font-family: Palatino, sans-serif;
}
.topbar{
  height:32px;
  background-color: #000000;
  margin: 0 0;
  padding: 0 0;
}

.title{
  background-color: #777;
}

.stage {
  margin: 0 0;
  height:100%;
  width:100%;
  color: white;
  position:relative;
  letter-spacing: 3px;
  font-family: Palatino, sans-serif;
  background-image: url("/Users/student/Desktop/hrsf96-subclass-dance-party/images/stage.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;

}

.dancer{
  border:10px solid yellow;
  border-radius:10px;
  position:absolute;
}

.blinky
{
  display:inline-block;
  position:absolute;
}

.salsa {
  display:inline-block;
  position:absolute;
}

.pop {
  display:inline-block;
  position:absolute;
}

.blinkyMinion {
  height: 100px;
  width: 80px;
  position:absolute;
  animation-name: blinkyDancer;
  animation-duration:2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;

}

.blinkyMinion:hover {
  transform: scale(2);
}

.salsaMinion {
  height: 100px;
  width: 80px;
  position:absolute;
  animation-name: salsaMinion;
  animation-duration:1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.popMinion {
  height: 100px;
  width: 80px;
  position:absolute;
  animation-name: popMinion;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transition:all 0.5s;

}

.popMinion:hover {
  transform:scale(2); 
}
/* ===== Animation Effect ========== */

@keyframes blinkyDancer {
  0%{transform:rotate(0deg); transform-origin:center;}
 50%{transform:rotate(-30deg); transform-origin:center;}
 100%{transform:rotate(30deg); transform-origin:center;}
}

@keyframes salsaMinion {
  0% {transform:rotate(0deg) scale(1); transform-origin:center;}
  50%{transform:rotate(-90deg) scale(1.5); transform-origin:center; scale: 1.4;}
  100%{transform:rotate(90deg) scale(1); transform-origin:center; scale: 0;}
}

@keyframes popMinion {
  0% {transform:translate(0px, 0px, 0px);}
  20% {transform: translate(20px,20px,20px);}
  50% {transform: translate(30px,30px,30px);}
  100% {transform: translate(10px,10px,10px);}
}
